/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** This theme defines the minimum styles required for a (barely) usable Portal.
Other themes should base themselves off this one.*/

#portal-search {
    border: thin solid gray;
    min-height: 50px;
    cursor: text;
}

.portal-term {
    float: left;
    cursor: text;
    border: thin solid gray;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}

.portal-term-property {
    padding: 0;
    margin: 1px;
}

.portal-term-entry {
    padding: 0;
    margin: 1px;
    min-height: 1em;
}

/** Style the dropdown. */
.portal-vocabs {
    background: gray;
    height: 200px;
    overflow: auto;
}

.portal-vocab-title {
    background: #333;
    color: #eee;
    font-weight: bold;
    padding: 2px;
}

.portal-vocab-property {
    border: thin solid #333;
    border-width: thin 0;
    padding: 2px;
}