/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/** This is the default orangy theme "Unite". It's meant to suggest the interconnectedness of all things,
and the interconnectedness of webpages. 
Please give feedback, and keep linking! */

.portal-term {
    float: left;
    cursor: text;
    border: thin solid #b58626;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    text-align: center; /* So much more elegant */
}
.portal-term.portal-term-selected {
    background: #F5CA73;
}

.portal-term-property {
    padding: 0;
    margin: 1px;
}

.portal-term-entry {
    padding: 0;
    margin: 1px;
    min-height: 1em; /* Ensure it's selectable & doesn't break flow */
}
.portal-term-entry:focus {
    outline: none;
}

#portal-search {
    border: thin solid gray;
    width: 75%; min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: text;
}

.portal-actions img:hover {
    background: #F5CA73;
    border-radius: 10px;
}

/** Style the dropdown. */
.portal-vocabs {
    background: #F5CA73;
    height: 200px;
    overflow: auto;
}


.portal-vocab-title {
    background: #D3A547;
    font-weight: bold;
    padding: 2px;
}

.portal-vocab-property {
    border: thin solid #D3A547;
    border-width: thin 0;
    padding: 2px;
}